[2022-04-25 17:17] kedashoe commented on #3275
Does anyone else have an opinion on this? I disagree, but I'll update our index.d.ts if that is the way yall want to go.

It's true it's been several years, but time isn't really what matters here. How many changes to ramda have there been in that time and how many commits to the DT file? Not many changes to ramda, and say about 70 commits in DT? And how many of those were bugs vs DT specific refa

[2022-04-25 17:50] somebody1234 commented on #3275
Worth noting that commits are squashed, so that's not 70 commits, that is 70 separate changes, each potentially with several commits.

Note also:
- `UnNest` - [removed in my (abandoned) PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/59677/files)
- `Merge`, `Return` - also used once. worst case we can just remove the definition completely
- `Parameters` - in the PR, there was only one

[2022-04-25 17:51] somebody1234 commented on #3275
Also worth noting that removing ts-toolbelt would be a huge decrease in QoL IMO - I'd rather have one dependency rather than make the types a lot less usable

[2022-04-26 01:36] adispring commented on #3275
Before @types/ramda@v0.27, There are many wrong typed api signatures, I fixed lots of them in v0.27. So I also do not think it's a good idea to start at 0.25.

As @somebody1234 said, most of ts-toolbelt helper types are easy to implement by ourself, even if the helper type is not easy to implement, if it only be used once or less than 3(the number is just an eixtimate number) times, we can use `an

[2022-04-26 05:31] kedashoe commented on #3275
Alright, thanks for the feedback. Let's go with the latest version and see where that gets us. PR up [here](https://github.com/ramda/ramda/pull/3277)

[2022-04-28 12:00] eemeli opened #3278 "Releasing version ranmda v0.28.2 on npm?"
The repo has a tag [v0.28.2](https://github.com/ramda/ramda/tree/v0.28.2), but this does not appear to be released at least on npm. Is there a plan for doing so?

I'm interested, because this release appears to include #3270, which is needed to resolve lo1tuma/eslint-plugin-mocha#322.

[2022-04-28 12:43] customcommander commented on #3278
I somehow missed that release :/ Not sure what happened here as `v0.28.1` doesn't exist either. There are ongoing discussions about typings perhaps it was done for that purpose (I didn't follow the thread so I'm just guessing)

Before we do anything can you try pulling from the repo just to confirm it does fix your issue?

[code]

However I've noticed that the package name has been changed to `ram

[2022-04-28 13:32] CrossEye commented on #3278
Yeah, I don't recall anything about that, and I definitely don't think we want to publish it with that name.  I'm guessing you're right and that this has to do with the typing stuff.  Is that right @kedashoe ?

[2022-04-28 14:54] kedashoe commented on #3278
the `ramda-ts-self` name should only be on the `ts` branch. If I've changed it somewhere else that messes with the master branch/normal release process please revert!

[2022-04-28 14:59] customcommander commented on #3278
The package name change is still isolated to that branch but was there any reason for the `v0.28.2` tag? It seems to have confused people that's all.

[2022-04-28 16:16] kedashoe commented on #3278
ah I see. I don't think it will be a problem with NPM right? It is a different package?

But it does seem here in github it's not ideal. I will look into using different tags of some sort going forward. And maybe can revert the one that I pushed up as well, doesn't matter from the ts side as it is just for testing.

[2022-04-28 17:35] somebody1234 commented on #3264
Status update on the HKT thing:
- performance still seems to be an issue. not getting severe lag anymore + can always profile later
- there are quite a few issues wrt inheritance (if implementing as a class.)
  - i think this shouldn't really be an issue if not implementing as a class though - however it's not as simple to implement things this way
  - i've implemented them as sealed classes so th

[2022-04-28 17:41] somebody1234 commented on #3264
Wait... are all fantasy land functions/methods supposed to be curried only? (other than ones that explicitly accept tuples)

[2022-04-29 00:35] kedashoe commented on #3278
OK I've deleted the tag. I'll start over from 0.1.0 and use `ts` in the version and tag somewhere to disambiguate.

[2022-04-29 00:36] CrossEye commented on #3264
@somebody1234: I'm afraid I'm not able to follow your progress from these notes.  It's not clear to me what you're working on.  Is this work available publicly anywhere?

[2022-04-29 01:00] somebody1234 commented on #3264
re: public - i still haven't put it online. for the time being i'll upload it as a [gist](https://gist.github.com/somebody1234/4717eb5a1aa6529551b63edd0b027cf4) i guess
overall... i'm guessing it'll work fine for *most* purposes. there are a few issues though:
- as mentioned, for classes at least you need `@ts-expect-error` otherwise `this` may be a subclass - even though in these cases it's impos

[2022-04-29 13:16] CrossEye commented on #3264
@somebody1234: Thanks.  That's going to take me a long while to grok.  Then I realize that this is not comment but actual syntax, I know I'm in for quite the ride:

[code]

😉

[2022-04-30 22:59] kedashoe commented on #3275
Alright, closed via https://github.com/ramda/ramda/commit/0756cb308e8dbd0a769dd4e87d72db983efd3422

We are now using the latest DT types.

If anyone had previously pulled down the ts branch, you'll need to reset and pull again, as I deleted some commits which caused some confusion with the tags here in the ramda repo. I've released the typescript stuff now as version 0.40.1, still under `ramda-ts-

[2022-04-30 22:59] #3275 closed

[2022-04-30 23:09] kedashoe commented on #3278
I've released a new version of the ts stuff and attempted not to push any tags. If everything looks ok to yall, you can go ahead and release a new version of ramda proper.

[2022-05-03 07:30] lo1tuma commented on #3278
So is there any chance that the fix from #3270 will be released in a new patch-version? Now that node v18 has been released this seems to get more urgent.

[2022-05-05 02:12] HoKangInfo commented on #3271
Anytime,
https://github.com/ramda/ramda/pull/3279

[2022-05-18 05:12] customcommander commented on #3278
Hi all. Sorry for the radio silence lately. I started a new job and have busy weeks at the moment.

Fortunately that commits sits before two major breaking changes so in theory we could simply tag it. My question is how will this plays out with our custom release tool. I assume it works only with the head of a branch it runs in. If that's the case we need to revert those two breaking changes first

[2022-05-18 19:12] ku8ar commented on #3264
Alternative might be to rewrite Ramda to Rescript. This language is compatible with H-M types and has TS and Flow types generator: https://rescript-lang.org/docs/gentype/latest/introduction

Perhaps some TS developer could check how this looks in practice?

[2022-05-19 05:20] somebody1234 commented on #3264
not the same as haskell syntax though, so not sure if it will really have an advantage over ts. not to mention:
a) it's second-class support which means DX for TS users isn't prioritized (bad)
b) it's missing a bunch of TS features that the current TS types use. probably mainly overloads, and type guards
  - it probably can't represent a function that's simultaneously curried and not curried, *at

[2022-05-19 09:44] MoritzR commented on #3264
There is [ts-belt](https://github.com/mobily/ts-belt), which is something like that.
Interestingly, one of the reason this library exists is because the author felt [that ramda doesn't play nicely with typescript](https://mobily.github.io/ts-belt/docs#ramda-%EF%B8%8F).

I see it the same as @somebody1234 though, while interesting, it doesn't look a like a viable or cost effective solution.

---

H

[2022-05-19 10:06] somebody1234 commented on #3264
re: ts support, some things just flat out cannot be supported in ts, haven't tried the others so i don't know if they have limitations. I'm guessing they're great for the library author

ive been a bit busy so not much progress on the HKT front - there are some limitations but i think itll be *doable* at least - however performance issues (likely due to structural typing) will probably remain an i

[2022-05-19 15:37] CrossEye commented on #3264
@ku8ar:

I'm not even slightly interested in porting to Rescript.  If someone is interested in doing so and we end up with something close to the current API, I can certainly see hosting it as part of a Ramda suite, but I wouldn't give up on a JS implementation for that.

@MoritzR:

There is work in progress on the [`ts` branch][ts].  I haven't been paying close attention so I can't tell you how i

[2022-05-19 15:38] CrossEye commented on #3278
@customcommander:

There are never any apologies required around here for spending time away from Ramda.  I'm the worst offender, by far.  I'm going to be mostly unavailable at least until after this weekend, myself.

I think maybe that's the best idea for right now.

[2022-05-19 17:41] kedashoe commented on #3264
I'm currently working on #3274, splitting up the typing file. Should be done in a couple days.

[2022-05-19 17:55] somebody1234 commented on #3264
maybe... idk honestly. currently though i believe HKTs are quite obscure/arcane knowledge and so i'm not sure if anyone there would be interested, especially the time that may be needed to understand the quirks of TS' type system that they may (will?) have to deal with

but in the case that they *are* willing to consider it... yeah it should be as simple as, say, importing `fantasy-land` and using

[2022-05-19 18:11] kedashoe commented on #3264
I think at this point involving fantasy-land would just complicate things for both sides. We can play with it here and if it gets to a good place, we could then upstream it to fantasy-land.

[2022-05-19 23:35] somebody1234 commented on #3264
worth noting though, that without upstream support (or at least some kind of community support) the HKT thing is useless since ramda doesn't come with its own fantasy-land types.

[2022-05-24 11:44] DamienCassou opened #3281 "[DEP0148] DeprecationWarning: Use of deprecated folder mapping "./src/"
Node complains about ramda's package.json:

[code]

The support for that is removed in node 17: https://nodejs.org/api/deprecations.html#DEP0148.

[2022-05-25 23:59] jrolfs commented on #3281
Is there any reason to wait on this? I'd be happy to open a PR.

[2022-05-26 00:08] semmel commented on #3281
See #3270

[2022-05-26 05:26] kedashoe commented on #3274
Alright #3280 has been merged and new version has been published.

I've got a list of issues from that PR from @adispring (thanks again!). I'm going to hold off on creating those for now, as any more work we do on ts will benefit from #3273, so I think we do that one next.

[2022-05-26 05:26] #3274 closed

[2022-05-26 05:36] kedashoe commented on #3273
Now that we have the file structure in place, I think this would be a good next issue to tackle.

Would anyone like to work on it? @essenmitsosse ? @somebody1234 ?

As mentioned in the post at the top, for the initial PR probably just the framework and a small number of functions would be good.

[2022-05-27 12:41] adellamaggiora opened #3282 "R.converge bad signature in @types/ramda"
the following function declaration generates a typescript compile error:

`const userMatchRoles = user => roles => R.converge(R.or, [R.includes(user.role), R.isEmpty])(roles);`

of course the error is not raised due to typescript strict mode (set to false) but from a bad signature in @types/ramda

[2022-05-28 00:06] adispring commented on #3282
@adellamaggiora Because all functions of ramda are auto curried, they do not work well together with ts.

By now, one solution for ramda user is that: if a ramda api used as an argument of other functions, people should always  explicitly write all the parameters and types to help ts compiler infer the right type, as follows:

[code]

@valerii15298 Can you look at this issue in spare time?

[2022-05-28 08:39] valerii15298 commented on #3282
The signature for `converge` in @types/ramda is intended to work like that. Typescript cannot infer which arity of `R.or` to use and is using arity of `1` automatically. The description of how to solve it, is explained in tests [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/ramda/test/converge-tests.ts#L147)

@adispring solution seems most accurate to me.

Sometimes yo

[2022-05-28 09:03] valerii15298 commented on #3264
I wanna propose a few things:

1. **Docs for usage with typescript** It would be great to have the opportunity to write docs for typescript-specific stuff for particular functions. Some functions when using with typescript really need to be explained.

2. **Tickets board with problems that need to be solved** This thread is quite long... There are plenty of stuff that needs to be done. And not jus

[2022-05-28 22:37] CrossEye commented on #3264
@valerii15298:

Interesting suggestions.

As to (1), sure, it makes sense to document where there are different pattern or restrictions for Typescript users.  As to the mechanism, I would defer to @kedashoe and others regarding *how* we implement it.  My thought is that it would live with the TS types and somehow joined back together to form the docs.  But that may be too complex and it would be b

[2022-05-28 22:38] kedashoe commented on #3264
+1, sounds great, I will support/do whatever we need for additional typescript specific docs.

I'm not as sure about this one, but of course if anyone wants to separately maintain another issue board they are welcome to. I just like having all the issues/PR/knowledge in one place. Right no undoubtedly there are many many typescript things to get to. And this one giant thread is not the way to mana

[2022-05-28 22:43] CrossEye commented on #3264
@kedashoe:

Timing!  If it's anything like the GitLab equivalent, a project board is just an alternative way to view a collection of issues from one or more repositories.  It doesn't add overhead to maintaining them, and one never needs to visit it, but it is a more at-a-glance  overview of the status, and offers an easier way to track progress.

[2022-05-29 06:07] valerii15298 commented on #3264
I had suspect that GitHub has some board just didn't know how it is called. So yep, I would vote for project board here. Sometimes you want easier overview of tickets/issues. And a way to group them and assign to particular people. With typescript we have plenty of works really as I see... I would even add some information in ramda's Readme, something like
[code]
To invite more people to contribut

[2022-05-29 06:50] valerii15298 commented on #3264
@CrossEye
1. Voice chats
2. Easier navigation/experience overall in text chats than gitter

But yep, I understand that having too many places to answer about ramda is not convenient so leaving it up to you.
Probably if we decide to use discord, we can:
A) deprecate gitter and use discord instead
B) manage both
C) have discord as possibility for voice discussions only and gitter as text chat(seems

[2022-05-30 00:55] adispring commented on #3282
In order to help people using ramda apis with typescript, I think we should add some guide or tips on how to using ramda apis with typescript more effectively. In the guide, we can list what's the best ways to write ramda with ts, and what should be avoid to do when write ramda with ts.

[2022-05-30 08:10] adellamaggiora commented on #3282
Thanks everybody for the support, I'll follow the advice to make my ts code to work.

It would be nice having a documentation for Ramda ts api too.

[2022-05-30 08:12] adellamaggiora commented on #3282
i'm pretty new using functional paradigm and this is my first real big project using it. I didn't know operator lift, thanks! I did without inner lamda too but at the end i put it in my code cause the signature of the function seems more clear (saying what exact parameters it accepts)

[2022-05-30 09:35] adellamaggiora commented on #3282
another ts compile error with the following code:

`const pluckObjectsProps = (data: Object[]) =>
    R.pipe(
        R.pick,
        R.map(R.__, data)
    )

const data = [
  { id: 1, name: 'Pippo', age: 100 },
  { id: 2, name: 'Pluto', age: 150 }
]

const plucked = pluckObjectsProps(data)(['name', 'age']);`

I am having serious difficulties in using ramda with typescript and I think it will not

[2022-05-30 15:07] zydmayday opened #3284 "Strange behaviors if curry function with named arguments"
I am wondering how ramda support functions with named arguments.

Here are 2 examples.

[1 normal argument, 1 named argument](https://ramdajs.com/repl/#?const%20f%20%3D%20%28a%2C%20b%3D2%29%20%3D%3E%20%5Ba%2C%20b%5D%0Aconst%20g%20%3D%20curry%28f%29%0A%0Ag%28__%2C%20200%29%281%29%20%2F%2F%20200%20will%20be%20ignored)
[code]

[2 normal arguments, 1 named argument](https://ramdajs.com/repl/#?const%20

[2022-05-30 16:34] CrossEye commented on #3264
I've added the project [Typescript Typings][tt].  Please feel free to poke around, make or suggest changes.  I'm not sure what things are in the correct columns either.  @kedashoe and @adispring, please take a look when you have time.

As to discord, I'm not a user and feel little need to work with it.  If others want to set it up, I certainly wouldn't object, but I don't know that I'd spend much

[2022-05-30 16:55] CrossEye commented on #3284
The problem here is that Ramda cannot work particularly well with optional arguments.  When you use a default argument, it becomes optional and the arity is reduced.  Whereas

[code]

if we default an argument, we see:

[code]

Ramda uses the function's arity (exposed as `length`) to determine how the currying and placeholder usage works.

We do try to make it clear that Ramda doesn't work well wi

[2022-05-30 18:03] essenmitsosse commented on #3273
@essenmitsosse im still on parental leave for the week but will have a look once I'm back.

[2022-05-30 18:08] essenmitsosse commented on #3264
Im also in favor of keeping everything on GitHub for now. The benefits of separate boards/Slack/Discord/Mail often don't outweigh the overhead of having separate channels. As for voice chats we could still setup a call over zoom or what ever **if** the need arises.

[2022-05-30 20:50] customcommander commented on #3284
The documentation for `curry` has been updated for that reason in #3244 however it needs to be deployed. (Although I really need to address this [comment](https://github.com/ramda/ramda/commit/aaffe722cadcb366aadf1f547f99195cbdef31fe#comments) :P)

I've got some free time end of week so I should be able to try to isolate the breaking changes in a `v1.0` branch so we could release a non-breaking `v

[2022-05-30 20:50] #3284 closed

[2022-05-31 00:12] zydmayday commented on #3284
Thanks for your detailed explanation!
It seems for now there is no way to determine whether an argument is optional or not.
Good to know there will be a documentation explain about this issue.

[2022-05-31 05:59] kedashoe opened #3285 "Typescript specific docs"
[Quoting](https://github.com/ramda/ramda/issues/3264#issuecomment-1140217001) @valerii15298

[2022-05-31 06:00] kedashoe commented on #3285
I'm thinking we can add comments between any imports and the exports of the type files. eg

[code]

We can then grab them in the build script and include them in the packaged index.d.ts. At some point we can get them into the ramda website as well.

Does anyone have any thoughts on more general ramda related typescript docs/thoughts/guidelines? Should we add a TYPESCRIPT.md?

[2022-05-31 06:40] valerii15298 commented on #3285
Also as an idea, maybe we can use tests for it somehow? In tests(in DefinitelyTyped) there are examples how to use it with typescript with comments.

[2022-05-31 06:48] valerii15298 commented on #3273
We can do checklist for every function.

Ramda has its own tests. We can change some of them gradually to typescript. Some part of them(not sure we can change all due to placeholders and curring)
In this way we can avoid code duplication and even have more confidence in tests.

[2022-05-31 08:14] adispring commented on #3282
This is a good example to show what's the most frequently problems people encounter again and again, when writing ramda with typescript:

When using each ramda api separately with ts, it may works normal most of the time;

But when composing multiple ramda apis with `R.compose`, `R.converge` and other high order ramda functions, things are getting worse. Point-free style code make things more wors

[2022-05-31 14:21] CrossEye commented on #3273
@valerii15298: I think I would have an issue with changing the current tests to TS.  Bringing the TS typings in-house is a fine idea, so long as we have people willing to support it.  But that won't change the fact that this is a JS library, and it should always remain usable and understandable to those who know JS but not TS.

For separate reasons, I don't want to change the tests overmuch before

[2022-05-31 14:24] CrossEye commented on #3282
@adispring: How much of that problem do you imagine we'll be able to fix by bringing the typings in-house?  Will it resolve a great deal of it, or are the issues with currying and HKTs too insurmountable for us to be able to significantly reduce this tension?

[2022-05-31 16:24] kedashoe commented on #3273
Ya I think this is probably the way to go. I'll update the top post in this thread with a checklist at some point today.

[2022-05-31 19:59] kedashoe commented on #3273
ok I've attempted to make a list of all .d.ts files in /types in the top comment. Everyone feel free to start grabbing your favorites to add tests for :stuck_out_tongue:

I'll make a separate issue for src files missing an accompany type file (not that many).

[2022-05-31 20:01] kedashoe opened #3287 "Functions missing type definitions"
PRs welcome!

- [ ] addIndexRight
- [x] dropRepeatsBy
- [x] isNotNil
- [ ] modify
- [ ] modifyPath
- [ ] sequence
- [ ] swap
- [ ] unwind
- [ ] whereAny

[2022-06-01 22:16] CrossEye commented on #3287
@admodev: Thank you.  We appreciate the help.  Remember to do this against the `ts` branch.

[2022-06-09 19:50] syzer commented on #2976
If TS could support currying would be just awesome!

One of main selling point of FP is that you can program less, not more.
So IMHO Point Free style is better than literal function application:
Ok'ish:
[code]
Better:
[code]
Without proper types switching to TS makes:
- program more to achieve same output
- worse style
... why?

[2022-06-09 19:53] syzer commented on #2976
That is how I have been using it!
Flow was quite smarter inferring types. However now most types are in TS.. so the ignore comments bloat

[2022-06-15 20:45] davetapley commented on #3264
Heads up: I just ran in to https://github.com/DefinitelyTyped/DefinitelyTyped/issues/33056 which AFAICT is still a bug, it's only closed because:

Instead of trying to get it re-opened over there, is it more appropriate to create new issue here so these issues can be tackled as part of [the project](https://github.com/orgs/ramda/projects/3)?

If so FYI there are [35 other issues](https://github.co

[2022-06-15 20:55] kedashoe commented on #3264
Hi @davetapley ! Than you for bringing this up. Ya, I think it would be a good idea to open a new issue here. Looks like there is a decent use case in the original issue so probably just linking to that is enough, although if you want to share your usage as well that would be great.

I'm not sure creating here in ramda all those outstanding issues would be constructive at the moment, but that is a

[2022-06-21 09:20] jvdneste commented on #3218
I noticed that `R.prop(5, { "5": "x" })` returns `"x"` with ramda 0.26 but returns `undefined` with ramda 0.27+
Is this in the upgrade guide? Other than that, awesome work👍

[2022-06-21 09:24] johanvandenneste commented on #3218
That should be `R.prop(-5, { "-5": "x" })`

[2022-06-22 12:46] zydmayday commented on #3218
https://github.com/ramda/ramda/commit/13ea6c5532d30e8360a732237bf5b6cd977713a8#diff-7ad2abd5596a4285282263bd8c938729a08476f54ea19bc90d73bf93d60e9ec5

It seems behavior has been changed here.
Treat integer-like prop as index.

[2022-06-24 23:15] CrossEye commented on #2974
@jvdneste: Yes, and thank you for adding that note.

[2022-07-06 18:17] dhoffman34 commented on #3281
We are getting the following error after upgrading to the latest version of Jest and trying to run tests:

[code]

If I manually update `node_modules/ramda/package.json` to use the changes in #3270, then it starts working again.

Any expectation for when the changes in #3270 will be released with a new version? I expect that would fix the issue we are seeing. Any other guidance on this? I could po

[2022-07-07 19:51] juanrgm commented on #3281
Same problem with pnpm (https://github.com/pnpm/pnpm/commit/5f643f23b0e324b76fcc9c6a6e289430d3af820f).

[2022-07-08 15:38] CrossEye commented on #3264
I just ran across this three-year old article, and have no idea if it's any help to those trying to correctly build our typings, but it seems worth mentioning, just in case:

https://medium.com/free-code-camp/typescript-curry-ramda-types-f747e99744ab

[2022-07-09 01:15] somebody1234 commented on #3264
fwiw this is _the_ person that wrote the original `Curry` for ramda, and the author of ts-toolbelt which ramda's typings currently use

[2022-07-12 17:28] geroale commented on #3236
Same issue here

[2022-07-19 07:38] Inhye-Cheong opened #3289 "Why type inference works well when using ramda when using typescript"
Hello. I am a front-end developer who enjoys using ramda.js + typescript. When using ramda, the type inference of typescript is often much better than using js built-in functions. `ex) Object.keys etc.`

So, suddenly, a question arose. Can you explain why type inference works so well with ramda? FYI, I'm not a user who knows even the deep stuff of fp-ts, monad, functor, etc.

[2022-07-20 03:23] CrossEye commented on #3289
Mostly we hear complaints about that, and have to point them to the DefinitelyTyped folks who maintain the TS typings.

So by the same token, all credit must go to them.

There is an effort underway to move them in-house, but it's not moving quickly.

[2022-07-20 06:39] Inhye-Cheong commented on #3289
@CrossEye

First of all, thanks for the reply.

I'm not using ramda heavily, so I didn't have any "complaints" about type inference as you described.

My question was, How does `ramda` do **better type inference** than `built-in functions`?

For example,

[code]

[2022-07-22 14:35] CrossEye commented on #3289
I know very little about TS typings, nor how these were implemented in DefinitelyTyped for Ramda.  But if I were to hazard a guess, then I would expect that the type assigned to `R.keys` is something like "a function from an Object to an array of Strings" and the one assigned to `Object .keys` is more like "a function from an Object to a mixed array of Strings and Symbols."

I'm sure this can be l

[2022-07-24 04:39] razor-x commented on #2337
Any new feeling on this issue 2 years later?

[2022-07-26 15:47] dadanliu opened #3290 "A question about version"
excuse me, I'm a fresh here.
want to know why ramda does not have version 1.0.0? and when come to version 1.0.0?

[2022-08-16 22:31] lisumio commented on #3289
The main difference is that Ramda leverages a combination of [generics](https://www.typescriptlang.org/docs/handbook/2/generics.html) and [keyof](https://www.typescriptlang.org/docs/handbook/2/keyof-types.html) operator while native `Object.prototype.keys` always returns array of strings.

@CrossEye

Looking at the implementation it goes even one step further - _"a function from an Object to an ar

[2022-08-18 19:32] sladiri commented on #3278
Hi, I just installed ramda and it's package json says `"version": "0.28.15"`, but on npm there seems to be only `"0.28.0"` available. I guess this is related?
[code]

[2022-08-18 20:20] jgsheppa commented on #3287
@CrossEye Has there been any progress on this issue? I have written types for `isNotNull` and `dropRepeatsBy`, but I'm wondering if there's a way to test the types against the JS code to test out my types? Or should I just submit a PR? I would be happy to give the other functions a shot, but thought I would get to know the code a bit better first.

[2022-08-18 20:30] kedashoe commented on #3287
@jgsheppa You can add tests. Here is the PR that introduced testing types: https://github.com/ramda/ramda/pull/3283

[2022-08-18 20:33] jgsheppa commented on #3287
@kedashoe Thanks! I saw there was one test, so I wasn't sure if I should try and write my own.

[2022-08-22 01:33] lisumio opened #3293 "TS: Incorrect signature of R.values"
_Assumption:_ Calling `values` method with `null` works by design and not by mistake (returns `[]`).

`R.values` expects input `obj` to be a `T` generic that extends `object` , but this produces following error when passing nullable type:

`Type 'null' is not assignable to type 'object'`

PS. After checking https://github.com/ramda/ramda/issues/3264 and seeing that https://github.com/ramda/ramda/i

[2022-08-25 14:10] RichMatthews commented on #3146
also breaking for me

[2022-08-30 19:20] azigoldstein opened #3296 "Typescript error for R.type when using a date type"
For typescript, when using the function R.type, the possible types are
`"Object" | "Number" | "Boolean" | "String" | "Null" | "Array" | "RegExp" | "Function" | "Undefined" | "Symbol" | "Error"`

However, if you pass R.type(new Date), a string of 'Date' gets returned

[2022-08-30 20:26] kedashoe commented on #3296
Good find, looks like this could be improved. Would you like to submit a PR?

[2022-09-01 04:51] manishkbharti opened #3297 "CVE-2021-42581 - mapObjIndexed"
https://nvd.nist.gov/vuln/detail/CVE-2021-42581

v0.28.0 is also affected by this issue (Veracode raising issues).

[2022-09-01 14:48] engordon commented on #2468
If `dissoc` would be renamed `omitOne` or similar, IMO it would clarify things. Just throwing that out there.

[2022-09-02 05:35] Simoon-F opened #3298 "warn Package ramda has been ignored because it contains invalid configuration."
When I run `yarn ios`, it gives me this prompt:

[code]

node: v14.17.6
ramda: 0.28.0
@types/ramda: 0.28.15

How should I do it?

[2022-09-05 08:09] mkierat commented on #3298
I have the same warning after 0.27.0 -> 0.28.0 update

[2022-09-05 19:15] trentlarson commented on #3128
FYI that code works for me in Chrome, and it works in Firefox when I use it directly in the console, but it does not work in Firefox as a bookmark: it replaces the whole document with the word "true".

[2022-09-06 11:12] mqs24d commented on #3297
I'm not sure if this is a dump assumption but would the issue be solved if the keys function ignores "__proto__"?

[2022-09-13 04:15] sks147 opened #3303 "R.clone does not work with mongodb ObjectId"
This is how the object looks like.
[code]
After doing a deep clone. While using [rambda](https://github.com/selfrefactor/rambda) library, this is getting printed on console. This library just throws error, without printing anything. But I assume issue is same in both the libraries.
[code]
Error output
[code]
I have tested [lodash.clonedeep](https://www.npmjs.com/package/lodash.clonedeep) and it wo

[2022-09-13 08:15] younes-io commented on #3273
I want to use `splitWhenever` in Typescript but I can't :/ Too bad things were done halfway...

[2022-09-13 09:36] #3297 closed

[2022-09-16 03:34] abduliOS opened #3304 "How to write jest unit test cases for Ramda functions in React native"
I want to write unit test cases for Ramda functions used in React native App.

Currently i have react native 068.1 version and "ramda": "^0.27.1", "ramda-adjunct": "^2.32.0", "jest": "^24.0.0", and Typescript

Example of code I used

import * as R from "ramda";

const getEta = (format: string) => R.compose(curryMomentFormat(format), R.prop("requestDate"));

export const curryMomentFormat = R.curry

[2022-09-16 13:06] mateusbw commented on #3296
@kedashoe i can work on this one. What's the current approach for typescript issues? Create a pr on the `ts` branch or create a pr on the [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped) project?

[2022-09-16 19:18] kedashoe commented on #3296
For here, yes, the PR would be based off the `ts` branch. We don't have anything to do with Definitely Typed so a separate PR there would be up to you.

[2022-09-16 19:22] romanlex commented on #2355
treeshake with webpack and imports as `import { func } from 'ramda'` doesn't work in 2022
You can see it with [statoscope](https://github.com/statoscope/statoscope)

`import { func } from 'ramda'`
![image](https://user-images.githubusercontent.com/3369304/190715156-59bd1f57-bb9b-4f9b-beb8-cb371b3671ee.png)

`import func from 'ramda/es/func'`
![image](https://user-images.githubusercontent.com/33693

[2022-09-16 20:51] Andarist commented on #2355
Have you confirmed this manually? Those tools **often** are inaccurate

[2022-10-03 13:41] saketh-kowtha commented on #3304
Looks issue with configuration. Not with the implementation

[2022-10-05 14:37] xgrommx opened #3307 "Strange behaviour of `evolve` for object of instance of `Error`"
Hello, I try to use `evolve` for inherited class of `Error` but behaviour of `evolve` not as expected.

Here example

[code]

[2022-10-08 06:25] WhiteKiwi opened #3310 "Narrow the type using tap with assertion function"
Ramda's pipes and tap are very useful.

However, the tap function cannot be narrowed down using the assertion function as shown below.

[code]

I think this function is necessary for tap. 🙇

[2022-10-08 15:02] araera111 opened #3313 "A question about assoc"
1. Why is the assoc function not type safe?

Example

import { assoc, pipe } from 'ramda';

type User = {
  id: number;
  name: string;
};

const user1: User = {
  id: 1,
  name: 'Ace',
};

const user1_1: User = pipe(assoc('id', 2), assoc('name', 'Boss'), assoc('age', 18))(user1);

console.log(user1_1); // -> { id: 2, name: 'Boss', age: 18 }

2. Why can't the assoc function look at the type and gu

[2022-10-13 12:27] ahmad-reza619 commented on #2108
hello, is this still up for grabs? @CrossEye are you still working on this? can I take this issue?

[2022-10-17 20:48] CrossEye commented on #2108
@ahmad-reza619: Feel free to investigate, create a PR.  I haven't looked at it in ages.

[2022-10-31 14:48] alan-thomas-shaji opened #3330 "Broken label on the official website banner"
<img width="590" alt="Screenshot 2022-10-31 at 8 17 32 PM" src="https://user-images.githubusercontent.com/50659499/199036636-a063559f-21fe-43d1-a0a9-327d88b59f5b.png">

[2022-11-01 16:16] shadowboxdev opened #3331 ""toString" produces odd behavior when the value being coerced is already a string"
The `toString` utility function produces undesirable results when the value being coerced is ALREADY a string. This seems to be intentional, however, as the use case is documented in doc's example. I can't think of a use case where this behavior would be desirable.

__example (current behavior)__:
[code]

 I propose that the identity is returned when the value is already a string.

__example (prop

[2022-11-02 12:55] 187sec opened #3334 "User-agent: HypeStat Disallow: / master Bitcoin"

[2022-11-02 12:56] 187sec commented on #3334
Jerrad ALEN mathews mathews jerrad Allen 558-35-5337User-agent: HypeStat
Disallow: /
Bitcoin.master.shortform

[2022-11-02 13:00] 187sec commented on #3334
Jerrad ALEN mathews mathews jerrad Allen 558-35-5337User-agent: HypeStat
Disallow: /
Bitcoin.master.shortform,blockchin,lopechine,facebook,Googl,apple,virzon,at&t

Write
Preview

[2022-11-02 13:35] #3334 closed

[2022-11-03 11:07] #3310 closed

[2022-11-07 09:06] 187sec commented on #3334
Yeah please refrain from using Blockchain steel stock markets for your bitcoin and stay off my platform I'm Apollo climate control chip system human implant 1976 December 16

[2022-11-19 03:29] 187sec commented on #3334
Sorry For disturbing my entitlement to do whatever I want on this form matter fact let's block you from bitcoin and who do you work for the CIA the FBI or Homeland security I need your answer immediately make it public

[2022-11-22 09:15] JamesRamm opened #3337 "Complementary monads library?"
What monad/ADT libraries are people using with ramda?

Most of those previously recommended (folktalke, fluture, ramda-fantasy) are no longer maintained. Packages which are maintained such as sanctuary seem to promote themselves as a superior _alternative_ to ramda, not a complementary library.

In my view, there is no other FP library as comprehensive or well maintained as ramda and I don't want

[2022-11-22 16:19] kedashoe commented on #3337
Maybe https://github.com/evilsoft/crocks ?

For futures there is https://github.com/fluture-js/Fluture

[2022-11-22 19:27] semmel commented on #3337
My impression is that unless they are in TypeScript most are pretty abandoned.

| Name | FantasyLand v? | last commit | lang |
|--------|-------------|-------------|-----|
| [fp-ts] | ❌ removed       |   recently     | TS   |
| [Purify] | ☑️ | recently | TS |
| [@neotype/prelude] | ❌ | recently | TS |
| [crocks] |  ☑️               | 2021 | JS |
| [monet] | ☑️                | 2021 | JS |

[fp-ts]

[2022-11-23 14:17] JuanGalilea opened #3339 "Adjust type inconsistencies with strings"
The `adjust` function behaves weird with strings, when given an empty string it returns the same empty string. but when its given any other string it breaks it up into an array of characters.
![image](https://user-images.githubusercontent.com/17620917/203569203-627bbfd1-d561-435e-ace1-f0d3fa5ff930.png)

[2022-11-23 21:35] valerii15298 opened #3340 "modifyPath does not work for empty array path"
In this case nothing happens:
`modifyPath([], append(1), [])` => `[]`

But logically `modifyPath` should apply function for empty array and in result there should be `[1]` and not `[]`
But actual output is an empty array `[]`

[2022-11-24 00:10] semmel commented on #3339
According to the documentation `adjust` does not work on strings, just on "List" aka `Array`. In theory it could be expanded to work on strings. Then it would have to check that the given function `(a → a)` maps characters on characters. Otherwise it would return something else than a string.

[2022-11-24 00:40] semmel commented on #3340
What path would an empty array represent?

This is what works:
[code]

[2022-11-24 15:55] JuanGalilea commented on #3339
True, maybe i should just make a PR expanding the functionality to strings (and solve that issue)

[2022-11-24 18:16] semmel commented on #3339
Maybe **not such a good idea** after all because one cannot guarantee that for every character argument.  So depending on the source string `adjust` would return something else. But the output type should be consistent!
E.g. `map` *guarantees* that it returns the *same collection type* as goes in. Regardless of the actual data values in that collection.

Does that make sense?

[2022-11-24 19:57] JuanGalilea commented on #3339
true, will build it in-house as a different function.
Perhaps having it as a different function here could help

[2022-11-24 20:05] #3339 closed

[2022-11-24 20:14] JuanGalilea commented on #3340
Shouldn't an empty path point to the supplied object?
Something like this:
[code]
But the function has a guard fast returning the final argument in case of an empty path
[code]

Something like this would satisfy what's being asked:
[code]

I'm not sure if this goes against any of the principles of the library though.

[2022-11-26 13:29] valerii15298 commented on #3340
@JuanGalilea yep, that is what I meant, thanks.
@CrossEye what do you think?

[2022-11-29 08:24] SenthilManickavel opened #3341 "Black Duck Error Report BDSA-2021-4505 RCE in mapObjIndexed"
Black Duck Vulnerability report

Ramda is vulnerable to a prototype pollution attack due to insufficient protections in the source/mapObjIndexed.js. A remote attacker may be able to execute arbitrary code, or cause a denial-of-service (DoS) by tricking the application into modifying or adding properties of Object.prototype.

Note: The vendor questions the validity of this vulnerability and has rai